*{
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}
#header-nav {
	height: 100px;
	background-color: #0f1217 ;
}

.navbar-brand {
	text-decoration: none;
	font-size: 50px;
	color: white;

}

.navbar-brand:hover {
text-decoration: none;
color: white;
}

.nav-link {
	font-size: 20px;
}

.title {
	font-size: 50px;
	margin-top: 2%;
}
.row {
	padding: 50px;
	margin-left: 25px;
}

.effect {
	background-color: #c8c9cc;
	margin: 5px;
	max-width: 450px;
}
.bottom {
	font-size: 15px;
}